@media (max-width: 700px) {

    :root{
        --primary-Color: rgb(78, 16, 86); --Secondry-Color: #0b3e3d; --Third-Color: #4b2c0b;
        }
        /*Dark Mode*/
        .dark-theme{
        --primary-Color: rgb(21, 20, 20); --Secondry-Color: rgb(25, 25, 22); --Third-Color:rgb(40, 39, 30);
        }
body{
    overflow-x: hidden;
}
.Any-navbar-1.scrolled{
    background-color: var(--Secondry-Color);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }
    .Any-navbar-01{
        width: 350px;
        height: 100vh;
        background: rgb(26,16,106);
        background: linear-gradient(0deg, var(--Secondry-Color) 0%, var(--Third-Color) 100%);
        display: grid;
        grid-template-columns: repeat(1,auto);
        align-items: center;
        align-content: center;
        justify-content: center;
        gap: 30px;
        position: fixed;
        right: -900px;
        overflow: hidden;
        transition: 0.4s ease-in-out;
        text-align: center;
        border-left: 5px solid rgb(255, 255, 255);
        border-radius: 5px;
        z-index: 10000;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;

    }
    .Any-logo-02{
        display: none;
    }
    .bx-menu07{
        display: none;
    }
    .nav-link-ul-03 li{
        color: aliceblue;
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 30px;
        transition: 0.2s linear;
    }
    .nav-link-ul-03 li:hover{
        color: #FF9100;
        transform: translateX(5px);
    }
    .chhmode-05{
        width: 30px;
        cursor: pointer;
        text-align: center;
    }

    /*Start Design btn log-in*/
.login-nav-btn-04 {
    position: relative; padding: 10px 20px; border-radius: 7px;
    border: 1px solid rgb(227, 229, 235);
    font-size: 14px; text-transform: uppercase; font-weight: 600; letter-spacing: 2px; background: transparent;
    color: #fff; overflow: hidden; box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in; -moz-transition: all 0.2s ease-in; transition: all 0.2s ease-in;
    }
    .login-nav-btn-04:hover {
        background: #FF9100; box-shadow: 0 0 30px 5px rgba(236, 212, 0, 0.815);
    -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; transition: all 0.2s ease-out;
    }
    .login-nav-btn-04:hover::before {
    -webkit-animation: sh02 0.5s 0s linear; -moz-animation: sh02 0.5s 0s linear; animation: sh02 0.5s 0s linear;
    }
    .login-nav-btn-04::before {
    content: ''; display: block; width: 0px; height: 86%; position: absolute;
    top: 7%; left: 0%; opacity: 0; background: #fff; box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg); -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg); -o-transform: skewX(-20deg); transform: skewX(-20deg);
    }
    @keyframes sh02 {
    from {
    opacity: 0;
    left: 0%;
    }
    50%{
    opacity: 1;
    }  
    to {
    opacity: 0;
    left: 100%;
    }
    }
    .login-nav-btn-04:active {
    box-shadow: 0 0 0 0 transparent; -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in; transition: box-shadow 0.2s ease-in;
    }
    /*end Design btn logIn*/

.close{
    font-size: 50px;
    color: #fff;
    cursor: pointer;
    margin-bottom: 20px;
    transition: 0.2s ease-in;
}
.close:hover{
    transform: rotate(90deg);
    color: gold;
 
}
}

@media (min-width: 700px) {
    .headerForMobile{
        display: none;
    }
}
